[submodule "ReEngine/external/mathlib"]
	path = ReEngine/external/mathlib
	url = git@github.com:vgvgvvv/3d-math.git
[submodule "ReEngine/external/lua"]
	path = ReEngine/external/lua
	url = git@github.com:vgvgvvv/lua.git
	branch = for-rengine
[submodule "ReEngine/external/thirdpart"]
	path = ReEngine/external/thirdpart
	url = git@github.com:vgvgvvv/re-third-part.git
[submodule "ReEngine/external/Re-reflection"]
	path = ReEngine/external/Re-reflection
	url = git@github.com:vgvgvvv/re-reflection.git
[submodule "ReEngine/src/App/VulkanLearning"]
	path = ReEngine/src/App/VulkanLearning
	url = git@github.com:vgvgvvv/VulkanLearning.git
	branch = master
[submodule "ReEngine/src/App/DX12Learning"]
	path = ReEngine/src/App/DX12Learning
	url = https://github.com/vgvgvvv/DX12Learning
